@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#progress{
  transform: rotate(-85deg) translate(0,-5px);
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  transition: 2s;
  /* animation: anim 2s linear forwards; */

}

#progress-border{
  transform: rotate(-85deg) translate(0,-2.8px);
  animation: anim 2s linear forwards;

}



@keyframes anim {
  from {
    stroke-dashoffset: 472; /* Start with the full length */
  }
  to {
    stroke-dashoffset: var(--stroke-dashoffset); /* Animate to the calculated value */
  }
}